* {
  font-family: "Poppins", sans-serif;
}

.navbar-container {
  margin: 0.25rem 1.75rem;
}

.mulearn-logo {
  width: 6rem;
}

.navbar-styles {
  display: flex;
  justify-content: space-between;
}

.nav-barbtn button {
  border: 2.5px solid #5865f2;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: white;
}

.dropdown-toggle {
  font-size: 0.85rem;
}

.dropdown-item {
  font-size: 0.75rem;
}

footer {
  padding: 4rem 2rem;
  background-color: #404040;
  /* margin-top: 50vh; */
}

.footer-logo {
  width: 5rem;
  margin-left: 0.75rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.footer-links {
  margin: 2rem 0;
  font-size: 0.9rem;
}

.footer-links a {
  margin: 0 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-left: 0.75rem;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}
.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.main-contents {
  text-align: center;
  margin: 2rem;
  margin-top: 8vh;
  min-height: 35vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.paragraph {
  font-size: 0.9rem;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 4vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

.headingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.paragraph {
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}

@media only screen and (min-width: 900px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }

  footer {
    padding: 1rem 2rem;
  }
}
