*{
    font-family: "Poppins",sans-serif;
}

.navbar-container{
    margin: 0.25rem 3rem;
}


.mulearn-logo {
  width: 8rem;
}

.navbar-styles {
  display: flex;
  justify-content: space-between;
}

.nav-barbtn button{
    border: 2.5px solid #5865F2;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: white;

}

.dropdown-toggle{
    font-size: 0.85rem;
}

.dropdown-item{
    font-size: 0.75rem;
}