*{
    font-family: "Poppins",sans-serif;
}

.navbar-container{
    margin: 0.25rem 1.75rem;
}

.mulearn-logo {
  width: 6rem;
}

.navbar-styles {
  display: flex;
  justify-content: space-between;
}

.nav-barbtn button{
    border: 2.5px solid #5865F2;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: white;

}

.dropdown-toggle{
    font-size: 0.85rem;
}

.dropdown-item{
    font-size: 0.75rem;
}

footer{
    padding: 4rem 2rem;
    background-color: #404040;
    margin-top: 50vh;
}


.footer-logo{
    width: 5rem;
    margin-left: 0.75rem;
}

footer a {
    text-decoration: none;
    color: #ffff;
}

.footer-links{
    margin: 2rem 0;
    font-size: 0.9rem;
}

.footer-links a{
    margin: 0 0.75rem;
}

.iconify {
    font-size: 2rem;
    margin-left: 0.75rem;
}


footer hr {
    color: white;
    margin: 2rem 0rem;
}
.address{
    color: white;
    width: 20rem;
    font-weight: 200;
    font-size: 0.8rem;
}


.mailus{
    display: block;
    padding-top: 1rem;
    color: rgb(176, 176, 245);
}

.main-contents{
    min-height: 100vh;
}
